

.pcl_sub{
    height: fit fit-content;
    background-color: #ffffff;
    padding: 20px;
    width: fit-content;
}

.pcl_sub img{
  width: 25rem;
  height: 20rem;
  object-fit: cover;   
  object-position: center; 
  background-color: var(--bgcolorr);
}




.pcl_sub p{
    max-width: 25rem;
    line-height: 1.5;


}

.pcl_sub span{
    margin-top: 0;
    padding-top: 10pxs;
    font-weight: 500;
}
.pcl_sub h4{
    font-size: 25px;
    padding-bottom: 0;
    margin-bottom: 0;
}