.text_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.text_container h3{
    color: #ffe4a9;
    font-size: 6.2rem;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: relative;
      font-family: 'Chakra Petch', sans-serif;

}

.text_container p{
   
  color: #ffe4a9;
  padding: 1rem 0 0 0;
  font-size: 1.7rem;
  line-height: 1.3;  
  max-width: 700px;   
  margin: 0 auto;     
  text-align: center;
}

.sub{
      display: flex;
      align-items: center;
      justify-content: center;
      background-color:#004c2f;
      height: 89dvb;
}

.sCAM{
    position: absolute;
    top: 20.5rem;
    max-width: 200px; 
    height: auto;     
}

.Attendee_spot{
    background-color: #e5f6ef;
    height: 100%;
    padding-bottom: 5rem;
}

.Attendee_spot h3{
    text-align: center;
    padding-top: 6rem;
    font-size: 3rem;
    color: #007144;
    margin: 0;
}

.attende_p{
    text-align: center;
    max-width: 600px;
    margin: 0;
    padding: 30px 0 0 0;
    font-size: 1.5rem;
    color: #007144;

}

.Atende_pdiv{
    display: flex;
    justify-content: center;
    
}


.Pcarocel_div{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    padding-bottom: 4rem;
    color: black;
    gap: 30px;
}

.PIm1 { transform: rotate(-6deg); }
.PIm2 { transform: rotate(3deg); }
.PIm3 { transform: rotate(-3deg); }
.PIm4 { transform: rotate(6deg); }
.PIm5 { transform: rotate(-2deg); }
.PIm6 { transform: rotate(4deg); }
.PIm7 { transform: rotate(-2deg); }


.Com_btn_container{
    display: flex;
    justify-content: center;
}


.image_wrap {
  overflow: hidden;
  width: 100%;
}

.p_scroll_track {
  display: flex;
  flex-direction: row;   /* horizontal scroll */
  animation: scrollLeft 30s linear infinite;
}

@keyframes scrollLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-150%);
  }
}


.carousel_fwrapper{
  position: relative;
  height: 100dvh;
  display: flex;
  width: 100%;
  overflow: hidden; 
}



.f_caro_box{
 display: flex;
  animation: scrollLeft 40s linear infinite;
}

