.F_caro_body{
    height: 100dvh;
    background-color: var(--F_caro_bg);
    width: 100vw;
    border-left: 1px solid;
    border-right: 1px solid;
    /* background-image:  
    var(--F_caro_bgimage); */
    background-repeat: no-repeat;
    background-position:right; 
    background-size: contain; 
    position: relative;
}

.F_caro_body::before {
  content: "";
  position: absolute;
  top: var(--F_caro_top);
  right: var(--F_caro_right);
  width: 100%;
  height: 100%;
  background-image: var(--F_caro_bgimage);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 40%;
   opacity: 0.3; 
  pointer-events: none;
}

.f_caro_textdiv{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
}

.fcaro_p{
    text-align: center;
    width: 100%;
    font-size:25px ;
    max-width: 750px;
    font-weight: 600;
}

.f_caro_qdiv{
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: start;
}

.caro_q_p{
  padding-top: 0;
  margin-top: 0; 
  text-align: justify;
  width: 100%;
  max-width: var(--f_caro_qwidth);
}

.f_caro_qspan{
    color: #b4acb1;
}

.caro_q_p{
    opacity: 60%;
}


.fline_container{
    display: flex;
    justify-content: center;
}

.f_caro_line{
    height: 2px;
    background-color: var(--f_caroL_bg);
    margin-top: var(--line_space);
    width: 100%;
    max-width: 85rem;
}

.fcal_footer{
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.footcal_img{
    height: var(--ffoot_height);
}

.ffoot_name{
    font-size: 30px;
    font-weight: bold;
}

.name_part{
    display: flex;
    flex-direction: column;
    justify-content: start;
    
}