/* .merch_main_div{
    height: 90dvh;
    background-color: #c90438;
    color: white;
        background-image: 
    url("/src/assets/5-member-squad-ticket-pattern.svg"),
    url("/src/assets/5-member-squad-ticket-pattern.svg");

     background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
     background-position: 
    left top,
    right bottom;

} */


.merch_main_div {
  position: relative;
  height: 89dvh;
  background-color: #c90438;
  color: white;
  background-image: url("/src/assets/5-member-squad-ticket-pattern.svg");
  background-repeat: no-repeat;
  background-position: left top;
}

.merch_main_div::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 300px;  /* adjust as needed */
  height: 300px;
  background-image: url("/src/assets/5-member-squad-ticket-pattern.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(90deg); /* makes it vertical */
}


.sub_div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.merch_heading{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    padding: 0;
    margin: 0;
}

.text_container{
    padding-bottom: 30px;
}

.merch_p{
    padding-top: 20px;
    margin: 0;
    text-align: center;
    line-height: 1.5;
    font-size: 20px;
}

.right_merch_pic{

    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 1;
    height: 30rem;
}

.left_merch_pic{
    position: absolute;
    top: 10px;
    z-index: 1;
    left: 30px;
    height: auto;
}

.bottom_merch_pic{
    position: absolute;
    bottom: 10px;
    z-index: 1;
    left: 20rem;
    height: 12rem;
}