.footer{
    height: fit-content;
    background-color: #034aa6;
    padding-top: 3rem;
}

.footer_main_container{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    padding-top: 3rem;
}

.left_containerr{
    color: #ffe4a9;
}

.left_containerr > h1{
    font-size: 3.5rem;
    font-weight: 900;
    padding: 0;
    margin: 0;
}

.right_containerr{
  color: white;
}

.right_containerr > p{
     font-size: 15px;
     font-weight: bold;
     padding-bottom: 10px;
}

.btn_footer_container{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
}


.footer_pic_container{
  padding-top: 3rem;
  justify-content: center;
}

.footer_pic{
  padding-top: 3rem;
}

.footer_span{
    margin-top: 4rem;
}


.fspan_con{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.footer_span{
    text-align: center;
    color: white;
}