.dropdown_card {
  transition: all 0.3s ease;
}

.dropdown_header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 1rem;
  
}

.dropdown_header h4 {
    margin: 0;
  flex: 1;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}


.dropdown_description {
  /* margin-top: 10px; */
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 72rem;
  animation: dropdownFade 3s ease;
    /* animation: fallDown 3s ease-out forwards;  */

  color: white;
}

.arrow {
  transition: transform 0.3s ease;
  color: white;
}

.arrow.open {
  transform: rotate(180deg);
}

@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.dropdown_divider{
  border: none;
  height: 3px; 
  background-color: rgba(255, 255, 255, 0.5); /* stronger white */
  margin-top: 15px;
  border-radius: 10px; 
  opacity: 1;
  transition: all 0.3s ease;
}



