.ppCard_main{
    background-color: var(--PPbgcolor);
    height: 35rem;
    width: 35rem; 
    box-shadow: 
    rgba(0, 0, 0, 0.35) 5px 5px,
    rgba(0, 0, 0, 0.25) 8px 8px,
    rgba(0, 0, 0, 0.18) 12px 12px,
    rgba(0, 0, 0, 0.10) 16px 16px;
    border: 1px solid;
    border-color: var(--brcolor);
    padding: 20px;
    flex-shrink: 0; 
}

.Main_content{
    font-size: 25px;
    margin-top: 0;
}
.card_container{
    display: flex;
    gap:5px ;
    margin-top: 80px;
}

.highlight_span{
    color: #aea9a9;
    font-size: 25px;
}

.Highlight{
    font-size: 25px;
}

.PcardLine{
    width: 100%;
    height: 2px;
    background-color: var(--linebg);
    margin-top: var(--marginT);
}


.PPcard_pic{
    height: var(--pcheight);
    width: var(--pcwidth);
    margin-top: var(--marginT);
}

.C_footer{
    display: flex;
    padding-top: 10px;
    gap: 15px;
}


.Footer_Text_con{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2px;
}

.Footer_Text_con span{
    font-weight: bold;
}

.f_spann{
    font-size: 25px;
}